<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto coder</title>
</head>
<body>
    <h1>Bienvenidos a mi web</h1>
    <p>Esta es mi primer trabajo en Django</p>
    <p>Hola {{nombre}} {{apellido}}</p>
    <p>Fecha: {{fecha}}</p>
    <p>Edad: {{edad}}</p>
    <img src="https://img.freepik.com/fotos-premium/fondo-pantalla-halloween-calabazas-malvadas_23-2149122573.jpg?w=740" alt="">
</body>
</html>